<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Product</div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" @click="addProduct">Add Product</button>
                            </div>
                        </div>
                        <div class="row thead">
                            <div class="col-md-2 col-1">
                                Picture
                            </div>
                            <div class="col-md-4 col-2">
                                Name
                            </div>
                            <div class="col-md-4 col-3">
                                Price
                            </div>
                            <div class="col-md-2 col-4">
                                Action
                            </div>
                        </div>
                        <div class="tbody" v-for="item in product">
                            <div class="row data">
                                <div class="col-md-2 col-1">
                                    <div style="max-height: 50px; max-width: 50px; overflow: hidden;">
                                        <img v-bind:src="item.pict" style="width: 100%;" />
                                    </div>
                                </div>
                                <div class="col-md-4 col-2">
                                    {{ item.name }}
                                </div>
                                <div class="col-md-4 col-3">
                                    {{ item.price }}
                                </div>
                                <div class="col-md-2 col-4">
                                    <a href="#" @click="editProduct(item.id)">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </a>
                                    <a href="#" @click="deleteProduct(item.id)">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add Product -->
        <div class="modal fade" id="add-product" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Add Product</h4>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/product" id="addProductForm" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-2">Picture</div>
                            <div class="col-md-8"><input type="file" name="pict" /></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">Name</div>
                            <div class="col-md-8"><input type="text" name="name" class="form-control" /></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">Price</div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">Rp</span>
                                    <input type="text" name="price" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal" @click="save">Save</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
        </div>
        <!-- End Add Product -->

        <!-- Edit Product -->
        <div class="modal fade" id="edit-product" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Edit Product</h4>
                </div>
                <div class="modal-body">
                    <form method="PUT" action="/product" id="editProductForm" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-2">Picture</div>
                            <div class="col-md-8"><input type="file" name="pict" id="pict" /></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">Name</div>
                            <div class="col-md-8"><input type="text" name="name" id="name" class="form-control" v-model="form.name" /></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">Price</div>
                                <div class="col-md-8"><div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">Rp</span>
                                    <input type="text" name="price" class="form-control" v-model="form.price" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal" @click="edit">Save</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
        </div>
        <!-- End Edit Product -->


        <!-- Delete Product -->
        <div class="modal fade" id="delete-product" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Delete Product</h4>
                </div>
                <div class="modal-body">
                    Are you sure to delete this product?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal" @click="remove">Yes</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                </div>
              </div>
            </div>
        </div>
        <!-- End Delete Product -->

    </div>

</template>

<style>
.thead {
    background-color: #e1e1e1;
    border: 1px solid #000000;
    margin: 10px 0 0 0;
}
.thead > div {
    padding: 5px 2px;
    text-align: center;
}

.data {
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    height: 60px;
    margin: 0;
}

.thead > .col-1,
.thead > .col-2,
.thead > .col-3 {
    border-right: 1px solid #000000;
}

.data > .col-1,
.data > .col-2,
.data > .col-3 {
    border-right: 1px solid #000000;
    height: 60px;
}

.data > .col-4 {
    height: 60px;
}

</style>

<script>
    export default {
        mounted() {
            this.getProduct()
        },
        data: () => {
            return {
                form: {
                    id: 0,
                    pict: '',
                    name: '',
                    price: 0
                },
                product: []
            }
        },
        methods: {
            addProduct() {
                $('#add-product').modal()
            },
            save() {
                let form = document.getElementById('addProductForm')
                let formData = new FormData(form)
                let t = this
                axios.post('/product', formData).then(function(response) {
                    t.getProduct()
                }).catch(function (error) {
                    console.log(error)
                })
            },
            editProduct(id) {
                this.form.id = id
                for (let data of this.product) {
                    if (data.id == id) {
                        this.form.id = data.id
                        this.form.pict = data.pict
                        this.form.name = data.name
                        this.form.price = data.price
                    }
                }
                $('#edit-product').modal()
            },
            edit() {
                let form = document.getElementById('editProductForm')
                let formData = new FormData(form)
                let t = this
                axios.post('/product/' + this.form.id, formData).then(function(response) {
                    t.getProduct()
                }).catch(function (error) {
                    console.log(error)
                })
            },
            deleteProduct(id) {
                this.form.id = id
                $('#delete-product').modal()
            },
            remove() {
                let t = this
                axios.delete('/product/' + this.form.id).then(function(response) {
                    t.getProduct()
                }).catch(function (error) {
                    console.log(error)
                })
            },
            getProduct() {
                let product = []
                axios.get('/product').then(function(response) {
                    for (let data of response.data.message) {
                        data.pict = "storage/" + data.pict
                        product.push(data)
                    }
                })
                this.product = product
            }
        }
    }
</script>
